.weblogo{
    width: 65px;
}
.navbar{
    background: #00000082!important;
}

.navbar ul li{
padding: 0 10px;
}
.navbar ul li a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
