.weblogo {
    width: 65px;
}

.navbar {
    background: #00000082 !important;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.moblogo {
    display: none;
}

@media(max-width:768px) {
    .weblogo {
        display: none;
    }

    .moblogo {
        display: block;
    }

    .navbar {
        background: #a09b0482 !important;
    }
}